<div class="beige-noise">
    <div class="p-wrapper">

        <bbc-markdown-files bbc-markdown-lang="currentLang" bbc-markdown-file="'partials/checkbox/checkbox'"></bbc-markdown-files>

        <tabset>
            <tab heading="index.html">
                <div hljs include="'snippet/checkbox/example.html'"></div>
            </tab>
            <tab heading="script.js">
                <div hljs include="'snippet/checkbox/example.js'"></div>
            </tab>
        </tabset>

        <div class="panel panel-default">
            <div class="panel-heading">{{ 'DEMO' | translate }}</div>
            <div class="panel-body">
                <div>
                    <bbc-checkbox disabled="disabled" ng-model="model1"></bbc-checkbox>
                    {{ 'DISABLED' | translate }}
                </div>
                <div>
                    <bbc-checkbox ng-disabled="true" ng-model="model4"></bbc-checkbox>
                    {{ 'DISABLED' | translate }}
                </div>
                <div>
                    <bbc-checkbox ng-disabled="model.isDisabled" ng-model="model5"></bbc-checkbox>
                    {{ model5 ? ('ACTIVATED' | translate) :  ('DEACTIVATED' | translate) }}

                    <bbc-checkbox style="margin-left: 30px;" ng-model="model.isDisabled"></bbc-checkbox>
                    {{ 'SWITCH_NG_DISABLED' | translate }}
                    <span style="margin-left: 30px;">disabled: {{ model.isDisabled | json}}</span>
                </div>
                <div>
                    <bbc-checkbox ng-model="model2" ng-checked="check2" title="I'm a tool tip"></bbc-checkbox>
                    {{ model2 ? ('ACTIVATED' | translate) :  ('DEACTIVATED' | translate) }}
                </div>
                <div bbc-checkbox ng-model="model3" title="I'm a tool tip"></div>
                {{ model3 ? ('ACTIVATED' | translate) :  ('DEACTIVATED' | translate) }}
            </div>
        </div>
    </div>
</div>