//dark theme
//@import '../../../modules/alert/themes/dark';

//default themes
@import '../../../modules/checkbox/themes/default';
@import '../../../modules/radio/themes/default';
@import '../../../modules/datepicker/themes/default';
@import '../../../modules/reset/themes/default';
@import '../../../modules/pager/themes/default';


body {
    padding-top: 50px;
    padding-bottom: 20px;
}
.navigation {
    margin-top: 1em;
}

.container {
   //width:100%;
}
.sent {
  color: darkgreen;
}
.response {
  color: darkblue;
}
.events {
  color: lightcoral;
}
.error {
  color: red;
}

.header img {
  max-height: 40px;
  padding-right: 20px;
  margin-top: 5px;
  margin-left: 50px;
}

.header img+.brand {
  padding: 10px 20px 10px 10px;
}

