<div class="beige-noise">
    <div class="p-wrapper">

        <div bbc-markdown-file="'pager/pager'" bbc-markdown-lang="currentLang"></div>

        <tabset>
            <tab heading="index.html">
                <div hljs>
<div ng-controller="NgAppDemoCtrl">
    <table class="table table-striped">
        <colgroup>
            <col style="width:50%;" />
            <col style="width:50%;" />
        </colgroup>
        <thead>
        <tr>
            <th><bbc-sort sort-opts="sortOpts" field-name="name" on-sorting="sort(sortingOptions)">Name</bbc-sort></th>
            <th>Index</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{ item.name }}</td>
            <td>{{ item.index }}</td>
        </tr>
        </tbody>
    </table>
    <bbc-pager count="count" current-page="currentPage" page-sizes="[1, 5, 10, 25]" page-size="10" on-paging="load(pagingOptions)"></bbc-pager>
</div>
                </div>
            </tab>
            <tab heading="scripts.js">
<div hljs>
angular.module('ngAppDemo', ['bbc.pager']).controller('NgAppDemoCtrl', function ($scope) {
    $scope.initialPageSize = 10;
    $scope.pagingOptions = {'skip': 0, 'limit': $scope.initialPageSize};
    $scope.load = function (page) {
        $scope.pagingOptions = page;
        getData();
    };

    function getData() {
        var items = [];
        for(var i = 0; i < 100; i++) {
            items.push({name: 'Item ' + (i + 1), index: i});
        }

        $scope.items = items.slice($scope.pagingOptions.skip, $scope.pagingOptions.skip +
                                                              $scope.pagingOptions.limit);
        $scope.count = 100;
    }

    getData();
});;
</div>
            </tab>
        </tabset>


        <div class="panel panel-default">
            <div class="panel-heading">Demo</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <colgroup>
                        <col style="width:50%;" />
                        <col style="width:50%;" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Index</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{ item.name }}</td>
                        <td>{{ item.index }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="panel-footer">
                <bbc-pager count="count" current-page="currentPage" page-sizes="[1, 5, 10, 25]" page-size="{{ initialPageSize }}" on-paging="load(pagingOptions)"></bbc-pager>
            </div>
        </div>
    </div>
</div>