<div style="display:inline">
    <div class="input-group" style="width:160px;">
        <input type="text" ng-model="selectedDayShort" id="{{inputID}}" ng-readonly="ngReadonly" name="{{inputName}}" ng-blur="getInput()" class="form-control" placeholder="{{placeholder}}">
        <span class="input-group-btn">
            <button class="btn btn-default" type="button" ng-click="visible = !visible" ng-class="{disabled : ngReadonly}"><span class="glyphicon glyphicon-calendar"></span></button>
        </span>
    </div>
    <div class="lx-datepicker" ng-show="visible">
        <div class="row lx-datepicker-body">
            <div class="lx-datepicker-year col-md-2 col-xs-2" unselectable="on">
                <div class="lx-datepicker-year-btn year-up">
                    <span class="glyphicon glyphicon-circle-arrow-up" ng-mousedown="startScroll('up')" ng-mouseup="stopScroll('up')"></span>
                </div>
                <div class="lx-datepicker-year-btn year-down">
                    <span class="glyphicon glyphicon-circle-arrow-down" ng-mousedown="startScroll('down')" ng-mouseup="stopScroll('down')"></span>
                </div>
                <div class="lx-datepicker-year-container">
                    <ul>
                        <li ng-repeat="year in yearNames" ng-click="yearClick(year)" ng-class="{active: selectedDay.getFullYear()===year }">{{year}}</li>
                    </ul>
                    <!--2015<br>2014<br><span class="active">2013</span><br>2012<br>2011<br>2010<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>-->
                </div>
            </div>
            <div class="lx-datepicker-month col-md-3 col-xs-3">
                <ul>
                    <li ng-repeat="month in monthNames" ng-click="monthClick($index)" ng-class="{active: selectedDay.getMonth()===$index}">{{month}}</li>
                </ul>
            </div>
            <div class="lx-datepicker-day col-md-7 col-xs-7">
                <table>
                    <thead>
                    <tr>
                        <th ng-repeat="name in dayNames">{{name}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="week in month">
                        <td>{{week.kw}}</td>
                        <td ng-repeat="day in week.days">
                            <button class="btn btn-default btn-sm btn-block" ng-click="dayClick(day)" ng-class="{other: !day.in, 'btn-primary' : (day.in && selectedDay.getDate()===day.nr), today: (today.day===day.nr && today.month===selectedDay.getMonth() && today.year===selectedDay.getFullYear())}">{{day.nr}}</button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>




            <!--<div class="lx-datepicker-year col-md-2 col-xs-2" unselectable="on">-->
                <!--<div class="lx-datepicker-year-btn year-up">-->
                    <!--<span class="glyphicon glyphicon-circle-arrow-up" ng-mousedown="startScroll('up')" ng-mouseup="stopScroll('up')"></span>-->
                <!--</div>-->
                <!--<div class="lx-datepicker-year-btn year-down">-->
                    <!--<span class="glyphicon glyphicon-circle-arrow-down" ng-mousedown="startScroll('down')" ng-mouseup="stopScroll('down')"></span>-->
                <!--</div>-->
                <!--<div class="lx-datepicker-year-container">-->
                    <!--<ul>-->
                        <!--<li ng-repeat="year in yearNames" ng-click="yearClick(year)" ng-class="{active: selectedDay.getFullYear()===year }">{{year}}</li>-->
                    <!--</ul>-->
                    <!--&lt;!&ndash;2015<br>2014<br><span class="active">2013</span><br>2012<br>2011<br>2010<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>Toll<br>&ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
            <!--<div class="lx-datepicker-month col-md-3 col-xs-3">-->
                <!--<ul>-->
                    <!--<li ng-repeat="month in monthNames" ng-click="monthClick($index)" ng-class="{active: selectedDay.getMonth()===$index}">{{month}}</li>-->
                <!--</ul>-->
            <!--</div>-->
            <!--<div class="lx-datepicker-day col-md-7 col-xs-7">-->
                <!--<table>-->
                    <!--<thead>-->
                    <!--<tr>-->
                        <!--<th ng-repeat="name in dayNames">{{name}}</th>-->
                    <!--</tr>-->
                    <!--</thead>-->
                    <!--<tbody>-->
                    <!--<tr ng-repeat="week in month">-->
                        <!--<td>{{week.kw}}</td>-->
                        <!--<td ng-repeat="day in week.days"><button class="btn btn-default btn-sm btn-block" ng-click="dayClick(day)" ng-class="{other: !day.in, 'btn-primary' : (day.in && selectedDay.getDate()===day.nr)}">{{day.nr}}</button></td>-->
                    <!--</tr>-->
                    <!--</tbody>-->
                <!--</table>-->
            <!--</div>-->
        </div>
        <!--<button class="btn btn-default btn-sm" ng-click="visible = !visible" style="position:absolute;right:4px;top:4px;display:block;border-radius:30px;padding:4px 5px;line-height: 12px;"><span class="glyphicon glyphicon-remove"></span></button>-->
        <div class="row lx-datepicker-footer">
            <div class="lx-datepicker-btn pull-right">
                <!--<button class="btn btn-success btn-sm">Heute</button>-->
                <button class="btn btn-default btn-sm" ng-click="visible = !visible">Schließen</button>
            </div>
        </div>
    </div>
</div>