<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>Alert</h1>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Example</div>
            <div class="panel-body">
                <bbc-alert service="bbcAlert" on-show="showAlert()"></bbc-alert>
                <button class='btn btn-default' ng-click="showAlert('info')">Info-Alert</button>
                <button class='btn btn-default' ng-click="showAlert('success')">Success-Alert</button>
                <button class='btn btn-default' ng-click="showAlert('warning')">Warning-Alert</button>
                <button class='btn btn-default' ng-click="showAlert('danger')">Danger-Alert</button>
            </div>
        </div>
    </div>
</div>