<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>bbc.cache</h1>
        </div>

        <p>{{ 'CACHE_INTRO' | translate}}</p>

        <p>{{ 'API_LINK_DESCRIPTION' | translate }} <a href="/doc#/api/bbc.cache.$bbcCache" target="_self">{{ 'API_LINK_TEXT' | translate }}</a>.</p>

        <hr/>

        <h3>{{ 'EXAMPLE' | translate }}</h3>

        <tabset>
            <tab heading="index.html">
                <div hljs include="'snippet/cache/example.html'"></div>
            </tab>
            <tab heading="script.js">
                <div hljs include="'snippet/cache/example.js'"></div>
            </tab>
        </tabset>

        <div class="panel panel-default">
            <div class="panel-heading">{{ 'DEMO' | translate }}</div>
            <div class="form-group">
                <input type="text" ng-model="user.firstname" class="form-control" placeholder="first name" />
            </div>
            <div class="form-group">
                <input type="text" ng-model="user.lastname" class="form-control" placeholder="last name" />
            </div>
            <div class="form-group">
                <button class="btn btn-default" ng-click="addToCache(user)">Add to cache</button>
                <button class="btn btn-default" ng-click="clearCache()">Clear cache</button>
            </div>
            <pre>{{ bbcCache | json }}</pre>
        </div>
    </div>
</div>