<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>Checkbox</h1>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">{{ 'EXAMPLE' | translate }}</div>
            <div class="panel-body">
                <div>
                    <bbc-checkbox disabled="disabled" ng-model="model1"></bbc-checkbox>
                    Ich bin disabled!
                </div>
                <div bbc-checkbox ng-model="model2" title="I'm a tool tip"></div>
                Ich wurde {{ model2 ? 'aktiviert' : 'deaktiviert'}}
            </div>
        </div>
    </div>
</div>