<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>bbc.datepicker</h1>
        </div>

        <p>{{ 'DATEPICKER_INTRO' | translate }}</p>

        <p>{{ 'API_LINK_DESCRIPTION' | translate }} <a href="/doc#/api/bbc.datepicker.directive:bbcDatepicker" target="_self">{{ 'API_LINK_TEXT' | translate }}</a>.</p>

        <hr/>

        <h3>{{ 'EXAMPLE' | translate }}</h3>

        <tabset>
            <tab heading="index.html">
                <div hljs include="'snippet/datepicker/example.html'"></div>
            </tab>
            <tab heading="script.js">
                <div hljs include="'snippet/datepicker/example.js'"></div>
            </tab>
        </tabset>

        <div class="panel panel-default">
            <div class="panel-heading">{{ 'Demo' | translate }}</div>
            <div class="panel-body">
                <form name="form" class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="pick" class="col-sm-3 control-label">{{ 'DATE' | translate }}</label>
                        <div class="col-sm-9">
                            <input id="pick" name="pick" ng-model="date" bbc-datepicker placeholder="dd.MM.yyyy">
                            <label class="label label-danger" ng-show="form.pick.$dirty && form.pick.$invalid">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="form.pick.$error.date">{{ 'DATEPICKER_WRONG_FORMAT' | translate}}</span>
                                <span ng-show="form.pick.$error.required">{{ 'DATEPICKER_REQUIRED' | translate}}</span>
                                <span ng-show="form.pick.$error.wrongdate">{{ 'DATEPICKER_WRONG_DATE' | translate}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pick2" class="col-sm-3 control-label">ng-model</label>
                        <div class="col-sm-9">{{ date }}</div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="pick2" class="col-sm-3 control-label">{{ 'DATE' | translate }} (required)<br>MM/dd/yyyy</label>
                        <div class="col-sm-9">
                            <input id="pick2" name="pick2" ng-model="date2" bbc-datepicker="'MM/dd/yyyy'" required="" placeholder="MM/dd/yyyy">
                            <label class="label label-danger" ng-show="form.pick2.$dirty && form.pick2.$invalid">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="form.pick.$error.date">{{ 'DATEPICKER_WRONG_FORMAT' | translate}}</span>
                                <span ng-show="form.pick.$error.required">{{ 'DATEPICKER_REQUIRED' | translate}}</span>
                                <span ng-show="form.pick.$error.wrongdate">{{ 'DATEPICKER_WRONG_DATE' | translate}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pick3" class="col-sm-3 control-label">ng-model</label>
                        <div class="col-sm-9">{{ date2}}</div>
                    </div>
                    <hr>
                    <div class="form-group">
                        <label for="pick3" class="col-sm-3 control-label">{{ 'DATE' | translate }} (required)<br>yyyy-MM-dd</label>
                        <div class="col-sm-9">
                            <input id="pick3" name="pick3" ng-model="date3" bbc-datepicker="'yyyy-MM-dd'" required="" placeholder="yyyy-MM-dd">
                            <label class="label label-danger" ng-show="form.pick3.$dirty && form.pick3.$invalid">
                                <div class="glyphicon glyphicon-fire"></div>
                                <span ng-show="form.pick.$error.date">{{ 'DATEPICKER_WRONG_FORMAT' | translate}}</span>
                                <span ng-show="form.pick.$error.required">{{ 'DATEPICKER_REQUIRED' | translate}}</span>
                                <span ng-show="form.pick.$error.wrongdate">{{ 'DATEPICKER_WRONG_DATE' | translate}}</span>
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pick3" class="col-sm-3 control-label">ng-model</label>
                        <div class="col-sm-9">{{ date3 }}</div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>