<div class="beige-noise">
    <div class="p-wrapper">
        <blockquote>
            <p>{{ 'HOME_INTRO' | translate }} <a href="https://github.com/litixsoft/baboon">baboon webtoolkit</a>. {{ 'HOME_INTRO2' | translate }}</p>
        </blockquote>
        <ul>
            <li>Website: <a href="http://www.litixsoft.de/baboon-client">http://www.litixsoft.de/baboon-client</a></li>
            <li>{{ 'HOME_API' | translate }}: <a href="http://www.litixsoft.de/baboon-client/api">http://www.litixsoft.de/baboon-client/api</a></li>
            <li>{{ 'HOME_GUIDE' | translate }}: <a href="http://www.litixsoft.de/baboon-client/guide">http://www.litixsoft.de/baboon-client/guide</a></li>
        </ul>
        <h1>{{ 'HOME_INSTALL' | translate }}</h1>
        <p>{{ 'HOME_INSTALL_TEXT' | translate }}</p>
        <h2>{{ 'HOME_DEPS'| translate }}:</h2>
        <p>Linux / Mac:</p>
        <pre><code>$ sudo npm install -g bower</code></pre>
        <p>Windows:</p>
        <pre><code>$ npm install -g bower</code></pre>

        <h2>{{ 'HOME_CREATE_START' | translate }}</h2>
        <p>{{ 'HOME_CREATE_START_TEXT' | translate }}:</p>
        <pre><code>$ bower install baboon-client</code></pre>
        <p><a href="https://github.com/bower/bower#usage">{{ 'BOWER_LINK' | translate }}</a></p>

        <h1>{{ 'HOME_CONTRIBUTING' | translate }}</h1>
        <p>{{ 'HOME_CONTRIBUTING_P1_1' | translate }} <a href="https://docs.google.com/document/d/1QrDFcIiPjSLDn3EL15IJygNPiHORgU1_OOAqWjiDU5Y/edit#heading=h.uyo6cb12dt6w">{{ 'HOME_CONTRIBUTING_P1_2' | translate }}</a>.
            {{ 'HOME_CONTRIBUTING_P1_3' | translate }}:</p>

        <ol>
            <li>{{ 'HOME_CONTRIBUTING_LI1' | translate }}</li>
            <li>{{ 'HOME_CONTRIBUTING_LI2' | translate }}</li>
            <li>{{ 'HOME_CONTRIBUTING_LI3' | translate }}</li>
            <li>{{ 'HOME_CONTRIBUTING_LI4' | translate }}</li>
            <li>{{ 'HOME_CONTRIBUTING_LI5' | translate }}</li>
            <li>{{ 'HOME_CONTRIBUTING_LI6' | translate }} (90 - 100%)</li>
            <li>{{ 'HOME_CONTRIBUTING_LI7' | translate }}</li>
        </ol>

        <p>{{ 'HOME_CONTRIBUTING_LAST' | translate }}</p>

        <h1>{{ 'HOME_BUILD_TEST' | translate }}</h1>
        <p>{{ 'HOME_BUILD_TEST_TEXT' | translate }}</p>

        <h2>{{ 'HOME_GLOBAL_DEPS' | translate }}:</h2>
        <p>Linux / Mac:</p>

        <pre><code>$ sudo npm install -g grunt-cli karma bower</code></pre>
        <p>Windows:</p>

        <pre><code>$ npm install -g grunt-cli karma bower</code></pre>

        <h2>{{ 'HOME_CLONE' | translate }}</h2>
        <p>{{ 'HOME_CLONE_P1' | translate }}</p>
        <p>{{ 'HOME_CLONE_P2' | translate }}</p>

        <pre><code>$ git clone https://github.com/litixsoft/baboon-client.git
$ cd baboon-client
$ npm install
$ bower install</code></pre>

        <p>{{ 'HOME_CLONE_P3' | translate }}:</p>

        <pre><code>$ git clone https://github.com/litixsoft/baboon-client.git
$ cd baboon-client
$ ./update.sh // in windows use update.bat</code></pre>

        <h2>{{ 'HOME_TESTS' | translate }}</h2>
        <p>{{ 'HOME_TESTS_P1' | translate }}:</p>
        <pre><code>$ grunt test // directory baboon-client</code></pre>

        <h2>{{ 'HOME_COVERAGE' | translate }}</h2>
        <p>{{ 'HOME_COVERAGE_P1' | translate }}:</p>
        <pre><code>$ grunt cover // directory baboon-client</code></pre>

        <h2>{{ 'HOME_CI' | translate }}</h2>
        <p>{{ 'HOME_CI_P1' | translate }}:</p>
        <pre><code>$ grunt ci</code></pre>

        <h2>{{ 'HOME_GEN_DOC' | translate }}</h2>
        <p>{{ 'HOME_GEN_DOC_P1' | translate }}:</p>
        <pre><code>$ grunt doc</code></pre>

        <h2>{{ 'HOME_GUIDE_DOC' | translate }}</h2>
        <p>{{ 'HOME_GUIDE_DOC_P1' | translate }}</p>
        <pre><code>$ node server.js</code></pre>

        <h1>{{ 'HOME_AUTHOR' | translate }}</h1>
        <p><a href="http://www.litixsoft.de">Litixsoft GmbH</a></p>
        <h1>{{ 'HOME_LICENSE' | translate }}</h1>

        <p>Copyright (C) 2013-2014 Litixsoft GmbH <a href="mailto:info@litixsoft.de">info@litixsoft.de</a> Licensed under the MIT license.</p>

        <p>Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal
            in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
            copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

        <p>The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

        <p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
            FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
            LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
            THE SOFTWARE. DEALINGS IN THE SOFTWARE.</p>
    </div>
</div>