<table class="table table-striped">
    <colgroup>
        <col style="width:40%;" />
        <col style="width:20%;" />
        <col style="width:20%;" />
        <col style="width:20%;text-align: right;" />
    </colgroup>
    <thead>
    <tr>
        <th>Name</th>
        <th>City</th>
        <th>Country</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in items">
        <td ng-if="inlineEdit.model != item">{{ item.name }}</td>
        <td ng-if="inlineEdit.model == item">
            <input type="text" class="form-control" ng-model="inlineEdit.model.name" name="name" required>
        </td>
        <td ng-if="inlineEdit.model != item">{{ item.city }}</td>
        <td ng-if="inlineEdit.model == item">
            <input type="text" class="form-control" ng-model="inlineEdit.model.city" name="city" required>
        </td>
        <td ng-show="inlineEdit.model != item">{{ item.country }}</td>
        <td ng-if="inlineEdit.model == item">
            <input type="text" class="form-control" ng-model="inlineEdit.model.country" name="country" required>
        </td>
        <td>
            <button ng-show="inlineEdit.model == item" class="btn btn-primary" ng-click="save(item, form)" ng-disabled="form.$invalid || inlineEdit.isUnchanged()">Save</button>
            <button ng-show="inlineEdit.model == item" class="btn btn-default" ng-click="inlineEdit.reset(form)" name="reset">Cancel</button>
            <button ng-show="inlineEdit.model != item" class="btn btn-default" ng-click="inlineEdit.setModel(item)">Edit</button>
        </td>
    </tr>
    </tbody>
</table>