<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>Integer</h1>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Example</div>
            <div class="panel-body">
                <p>Please change the number</p>
                <input type="text" bbc-integer ng-model="val" class="form-control" />
                <pre>The initial type is: {{ initialType }}</pre>
                <pre>The current type is: {{ currentType }}</pre>
            </div>
        </div>
    </div>
</div>