<h1>Checkbox Test</h1>

<!--<bbc-radio ng-model="myModel" name="group1" label="1" value="1"></bbc-radio>
<bbc-radio ng-model="myModel" name="group1" label="2" value="2"></bbc-radio>-->
<p>
Der Value ist: {{ myModel }}
</p>


<bbc-radio ng-model="myModel2" name="group2" label="1" value="1" disabled="disabled"></bbc-radio>
<bbc-radio ng-model="myModel2" name="group2" label="2" value="2" disabled></bbc-radio>
          <hr />
        <input type="radio" name="def" disabled> Ja
        <input type="radio" name="def"> Nein