<h1>Radio Test</h1>
<p>
Der Value ist: {{ myModel }}
</p>

<bbc-radio ng-model="myModel" name="myGroup" label="1" value="1" ng-disabled="isDisabled"></bbc-radio>
<bbc-radio ng-model="myModel" name="myGroup" label="2" value="2" ng-disabled="isDisabled"></bbc-radio>
<bbc-radio ng-model="myModel" name="myGroup" label="3" value="3" ng-disabled="isDisabled"></bbc-radio>
<bbc-radio ng-model="myModel" name="myGroup" label="4" value="4" ng-disabled="isDisabled"></bbc-radio>
<bbc-radio ng-model="myModel" name="myGroup" label="5" value="5" ng-disabled="isDisabled"></bbc-radio>
<button class="btn btn-default" ng-click="clickMe()">{{ isDisabled ? 'Enable' : 'Disable' }}</button>