<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>bbcReset</h1>
        </div>
        <p>
            {{ 'RESETTEXT' | translate }}
            <ul>
                <li>text</li>
                <li>search</li>
                <li>tel</li>
                <li>url</li>
                <li>email</li>
                <li>password</li>
            </ul>
        </p>
        <div class="panel panel-info">
            <div class="panel-heading">{{ 'EXAMPLE' | translate }}</div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <input type="text" class="form-control" ng-model="test" bbc-reset placeholder="{{ 'INPUT_PLACEHOLDER' | translate }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <input type="text" class="form-control" ng-model="test2" bbc-reset placeholder="{{ 'INPUT_PLACEHOLDER' | translate }}" />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="test3" bbc-reset placeholder="{{ 'INPUT_PLACEHOLDER' | translate }}" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</di