<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>bbc.reset</h1>
        </div>
        <p>
            {{ 'RESET_TEXT' | translate }}
            <ul>
                <li>text</li>
                <li>search</li>
                <li>tel</li>
                <li>url</li>
                <li>email</li>
                <li>password</li>
            </ul>
        </p>
        <p>{{ 'API_LINK_DESCRIPTION' | translate }} <a href="/doc#/api/bbc.reset.directive:bbcReset" target="_self">{{ 'API_LINK_TEXT' | translate }}</a></p>
        <hr />
        <p><h3>{{ 'EXAMPLE' | translate }}</h3></p>
        <tabset>
            <tab heading="index.html">
                <div hljs  source="'<input type=&#34;text&#34; ng-model=&#34;test&#34; bbc-reset placeholder=&#34;...&#34; />'">
                </div>
            </tab>
        </tabset>
        <div class="panel panel-default">
            <div class="panel-heading">Demo</div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-lg-6">
                        <input type="text" class="form-control" ng-model="test" bbc-reset placeholder="{{ 'INPUT_PLACEHOLDER' | translate }}" />
                    </div>
                </div>
                <pre>Model: {{ test }}</pre>
            </div>
        </div>
    </div>
</div>