<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>UI Reset</h1>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">Example</div>
            <div class="panel-body">
                <div class="form-group row">
                    <div class="col-lg-3">
                        <input type="text" class="form-control" ng-model="test" bbc-reset placeholder="Add any text..." />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-4">
                        <input type="text" class="form-control" ng-model="test2" bbc-reset placeholder="Add any text..." />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-lg-5">
                        <input type="text" class="form-control" ng-model="test3" bbc-reset placeholder="Add any text..." />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>