<div class="beige-noise">
    <div class="p-wrapper">
        <div class="page-header">
            <h1>Sort</h1>
        </div>
        <div class="panel panel-info">
            <div class="panel-heading">{{ 'EXAMPLE' | translate }}</div>
            <div class="panel-body">
                <table class="table table-striped">
                    <colgroup>
                        <col style="width:40%;" />
                        <col style="width:30%;" />
                        <col style="width:30%;" />
                    </colgroup>
                    <thead>
                    <tr>
                        <th><bbc-sort sort-opts="sortOpts" field-name="name" on-sorting="sort(sortingOptions)">Name</bbc-sort></th>
                        <th><bbc-sort sort-opts="sortOpts" field-name="city" on-sorting="sort(sortingOptions)">City</bbc-sort></th>
                        <th><bbc-sort sort-opts="sortOpts" field-name="country" on-sorting="sort(sortingOptions)">Country</bbc-sort></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in items">
                        <td>{{ item.name }}</td>
                        <td>{{ item.city }}</td>
                        <td>{{ item.country }}</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>