<div class="beige-noise">
    <div class="p-wrapper">

        <bbc-markdown-files bbc-markdown-lang="currentLang" bbc-markdown-file="'partials/radio/radio'"></bbc-markdown-files>

        <tabset>
            <tab heading="index.html">
                <div hljs include="'snippet/radio/example.html'"></div>
            </tab>
            <tab heading="script.js">
                <div hljs include="'snippet/radio/example.js'"></div>
            </tab>
        </tabset>

        <div class="panel panel-default">
            <div class="panel-heading">Demo</div>
            <div class="panel-body">
                <div class="form-group">
                    <bbc-radio ng-model="model" name="group" label="1" value="1" ng-disabled="disabled"></bbc-radio>
                    <bbc-radio ng-model="model" name="group" label="2" value="2" ng-disabled="disabled"></bbc-radio>
                    <bbc-radio ng-model="model" name="group" label="3" value="3" ng-disabled="disabled"></bbc-radio>
                    <button class="btn btn-default" ng-click="clickMe()">{{ disabled ? 'Enable' : 'Disable' }}</button>
                </div>

                <pre>Value: {{ model }}</pre>
            </div>
        </div>
    </div>
</div>