<div class="modal-dialog" draggable-modal>
    <div class="modal-content lx-modal-msg {{ modalOptions.cssClass }}">
        <div class="modal-header">
            <h4>{{ modalOptions.type }}</h4>
            <p>{{ modalOptions.headline }}</p>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="icon"></div>
                </div>
                <div class="col-md-9">
                    <h4>{{ modalOptions.message }}</h4>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="modalOptions.yes()" ng-show="!!modalOptions.actionYes">Yes</button>
            <button class="btn btn-primary" ng-click="modalOptions.no()" ng-show="!!modalOptions.actionNo">No</button>
            <button class="btn btn-default" ng-click="modalOptions.close()" ng-show="!!modalOptions.actionClose">Close</button>
            <button class="btn btn-primary" ng-click="modalOptions.ok()" ng-show="!!modalOptions.actionOk">Ok</button>
        </div>
    </div>
</div>